<div id="Main">
  <img src = "../assets/Top-up.png" id = "backgroundImg">
  <div id="locContainer"></div>
  <div id="stateContainer"></div>
  <div id="segmentContainer">
    <ion-segment value="default">
      <ion-segment-button value="All" id = "segmentBtn" mode = "ios">
        <ion-label id = "segmentLbl">All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Ongoing" id = "segmentBtn" mode = "ios">
        <ion-label id = "segmentLbl">Ongoing</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Scheduled" id = "segmentBtn" mode = "ios">
        <ion-label id = "segmentLbl">Scheduled</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div id="bookContainer">
    <div id = "book">
      <p></p>      
    </div>
  </div>
</div>