<div id = "container1">
  <img src="../assets/Images/Top-up@2x.png" id = "backgroundimg">
  <div id ="buttonContainer">
    <ion-icon id = "backButton" shape = "round" name="chevron-back-circle-outline"></ion-icon>
    <p id = "addFunds">Add Funds to Wallet</p>
  </div>
   <!-- <div id = "alignAddFundsContainer">
    <p id = "alignAddFunds">Add Funds to Wallet</p>
  </div> --><!-- FOR MEASURING CENTER -->
  <div id = "container2">
    <img src ="../assets/Images/Frame 1171274685.png" id = "insideImg" >
    <div id = "currBalPositioner">
      <div id = "currBalContainer">
        <div id = "currBaltxt" >
          <p>Current Balance: </p>
        </div>
        <div id = "currBal">
          <p>P15,000</p>
        </div>
      </div>
      <div id = "topUpContainer">
        <p id = "topUptxt">Top-Up Amount:</p>
        <div id = "topUpBox">
          <p id ="topUpAmount">0.00</p>
        </div>  
      </div>
      <div id = "payMethContainer">
        <p id = "payMthdTxt">Select Payment Menthod</p>
      </div>
      <div id = "radBtnContainer">
        <div id = "rad1Container">
          <input type = "radio" name = "payMethod" id = "gbutton" value = "Gcash">
          <img src ="../assets/Images/gcash-removebg-preview 1.png" id = "GLogo">
        </div>
        <div id = "rad2Container">
          <input type = "radio" name = "payMethod" id = "pbutton" value = "Paymaya">
          <img src ="../assets/Images/1200px-PayMaya_Logo 1.png" id = "payLogo">
        </div>
      </div>
    </div>
</div>
  <div id = "containerButton">
    <button type = "button" id = "payBtn" >Pay Now</button>
</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
