<div id = "appContainer">
  <img src = "../assets/Images/Home - Provider (All) (1).png" id = "backgroundImg">
  <div id = "statBarContainer">

  </div>
  <div id = "locContainer">
    <div id = "PerIcon">

    </div>
    <div id = "yourAdContainer">
      <!-- yourAdContainer for yourLoc and address -->
        <p id = "yourLoc">Your Location</p>
        <p id = "address">New York, NY, 10016, USA</p>
    </div>
    <ion-icon id = "notifBell" name="notifications-outline"></ion-icon>
  </div>
  <div id = "stateBtnContainer"><!-- Connection State Button Container-->
    <p id = "stateText">You are Online Now!</p>
    <ion-toggle id = stateBtn></ion-toggle>
  </div>
  <div id = "segmentContainer">
    <ion-segment-button value = "All" id = "segmentBtn">
      <ion-label id = segmentLbl>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value = "Ongoing" id = "segmentBtn">
      <ion-label id = segmentLbl>Ongoing</ion-label>
    </ion-segment-button>
    <ion-segment-button  value = "Scheduled" id = "segmentBtn">
      <ion-label id = segmentLbl>Scheduled</ion-label>
    </ion-segment-button>
  </div>
  <div id = "bookContainer">
    <div id = "book">
      <p id = "bID">
        Book ID:
      </p>
      <p id = "cCare">
        Companion Care -
      </p>
      <p id = "name">
        Name:
      </p>
      <p id = "date">
        Date:
      </p>
      <p id = "time">
        Time:
      </p>
      <p id = "status">
        Status:
      </p>
    </div>
    <div id = "book">
      <p id = "bID">
        Book ID:
      </p>
      <p id = "cCare">
        Companion Care:
      </p>
      <p id = "name">
        Name:
      </p>
      <p id = "date">
        Date:
      </p>
      <p id = "time">
        Time:
      </p>
      <p id = "status">
        Status:
      </p>
    </div>
  </div>
  <div id = "navigationContainer">

  </div>
</div>